body {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: Inter;
    background-color: #043873;
}

#header {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5vh;
    height: 92px;
}

#logo {
    display: flex;
}

#img-logo {
    width: 44px;
    height: 40px;
}

#titulo-logo {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: white;
    justify-content: flex-end;
    margin-top: 0.5vh;
}

#botoes {
    display: flex;
    justify-content: space-between;

}

.meusbotoes {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 2.625rem;

}

.meusbotoes li {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: white;
}

.setabotao {
    display: flexbox;
    padding-left: 1.25rem;
    padding-bottom: 0.1rem;

}

#botao-header {
    background-color: #043873;
    border: none;
    width: 8vw;
    height: 7.5vh;
    color: white;
    font-size: 18px;
}

#botao-login {
    background-color: #FFE492;
    color: #043873;
    border: none;
    width: 126px;
    height: 60px;
    border-radius: 8px;
    font-size: 18px;
    margin-left: 5vw;
}

#botao-try {
    background-color: #4F9CF9;
    color: white;
    border: none;
    width: 227px;
    height: 60px;
    border-radius: 8px;
    font-size: 18px;
    margin-left: 1vw;
}

#containerarticle {
    display: flex;
    justify-content: flex-start;
}

#article {
    display: flex;
    flex-direction: column;

}

#linhas {
    width: 100vw;
    height: 100vh;
}

#div-article {
    width: 219px;
    height: 63px;
    white-space: nowrap;
    position: absolute;
    padding: 18rem 0 0 11rem;
}

#titulo-article {
    overflow-wrap: break-word;
    word-break: break-word;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    color: white;
    letter-spacing: -0.02em;
    justify-content: flex-start;
    align-items: center;

}

#paragrafo-article {
    overflow-wrap: break-word;
    word-break: break-word;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17.5px;
    color: #FFFFFF;
    letter-spacing: -0.02em;

}

#botao-article {
    background-color: #4F9CF9;
    border: none;
    width: 219px;
    height: 63px;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    margin-top: 7vh;
}

#article2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    width: 100vw;
    height: 100vh;

}

#div-article2 {
    display: flex;
}

#titulo-pg2 {
    font-size: 72px;
    color: #212529;
    margin: 0px;
    background-image: url(img/Element.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 19rem;
    padding-bottom: 3.5rem;
    padding-right: 14rem;

}

#paragrafo-pg2 {
    font-size: 18px;
    color: #212529;
}

#botao-pg2 {
    width: 186px;
    height: 63px;
    background-color: #4F9CF9;
    color: white;
    font-size: 18px;
    border-radius: 6px;
    border: none;
    margin-top: 5vh;
}

#div-article2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

}

#logocentral {
    background-color: black;
    width: 8vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

#logocentral:hover {
    background-color: black;
    width: 8vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 50px -11px rgba(0, 0, 0, 0.25);
}

#sistema-solar {
    width: 600px;
    height: 550px;

}

#img-logocentral {
    width: 75px;
    height: 75px;

}

#imgs-article {
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer {
    display: flex;
    justify-content: space-around;
    font-style: 16px;
    color: white;
}

.footerparte1 {
    display: flex;
    gap: 3.75rem;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    align-items: center;
    letter-spacing: -0.02em;
}

.footerparte2 {
    display: flex;
    align-items: center;
}

#img-redesociais {
    width: 175px;
    height: 60px;
}

.hummenu {
    display: none;
}